@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");

@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@tailwind components;

@tailwind utilities;

.btn {
  @apply bg-white text-black font-medium py-2 px-4 rounded m-1;
}

.btn:hover {
  @apply bg-gray-300;
}

.visible-animation {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden-animation {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
