@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Rubik', sans-serif;
    height: 100%;

    // background: black url("assets/prideBackground.png") no-repeat fixed center 100%;
    overflow-x: hidden;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.floating-button {
    position: absolute;
    background-color: white;
    padding: 1em;
    top: 2em;
    cursor: pointer;
}

#reveal-nav-button {
    position: absolute;
    background-color: none;
    padding: 1em;
    top: 50%;
    left: 0em;
    cursor: pointer;
    font-size: 32px;
    color: darkgray;
    transition: 0.5s;
    transform: rotate(0deg);
}

.open#reveal-nav-button {
    transform: rotate(180deg);
    left: 250px;
}

// Clouds

/* KEYFRAMES */

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }

    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
    animation: animateCloud 30s linear infinite;
    transform: scale(0.5);
}

.x2 {
    animation: animateCloud 20s linear infinite;
    transform: scale(0.65);
}

.x3 {
    animation: animateCloud 35s linear infinite;
    transform: scale(0.3);
}

.x4 {
    animation: animateCloud 25s linear infinite;
    transform: scale(0.55);
}

.x5 {
    animation: animateCloud 18s linear infinite;
    transform: scale(0.4);
}

/* OBJECTS */

.cloud {
    background: #fff;
    background-image: linear-gradient(#fff 5%, #f1f1f1 100%);
    border-radius: 100px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    height: 120px;
    position: relative;
    width: 350px;

    // Wait to be activated
    display: none;
}

.cloud:after,
.cloud:before {
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
}

.cloud:before {
    border-radius: 100px;
    height: 100px;
    left: 70px;
    top: -50px;
    width: 100px;
}

.cloud:after {
    border-radius: 200px;
    width: 150px;
    height: 150px;
    right: 50px;
    top: -90px;
}

.color-picker {
    display: inline-block;
}

// Sidebar stuff

/* The side navigation menu */
.sidenav {
    padding: 0;
    margin: 0;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto;
    transition: all 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
    color: gray;
}

.sidenav.open {
    width: 250px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* The navigation menu links */
.sidenav h2 {
    padding: 32px 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

// /* Position and style the close button (top right corner)
// .sidenav .closebtn {
//   position: absolute;
//   top: 0;
//   right: 25px;
//   font-size: 36px;
//   margin-left: 50px;
// }

// end of sidebar stuff
